{% extends "polls/base.html" %}

{% block title %}
Detail - {{ question.question_text }}
{% endblock %}

{% block content %}
    <form action="{% url 'polls:vote' question.id %}" method="post">

        <fieldset>
            <legend><h2>{{ question.question_text }}</h2></legend>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                <br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="vote">
    </form>

    <p>
        Results are shown after voting 
        {% if not user.is_authenticated %}
            (requires login)
        {% endif %}
    </p>

    <hr>

    <h2>Add New Choice</h2>

    <form method="post">
        
        <input type="text" name="choice_text" placeholder="Enter your choice">
        <button type="submit">Add choice</button>
    </form>

    <hr>

    <h2>Comments</h2>

    <ul>
        {% for comment in question.comment_set.all %}
            <li>{{ comment.comment_text|safe }}</li>
        {% endfor %}
    </ul>

    <h3>Add a Comment</h3>
    <form method="post" action="{% url 'polls:add_comment' question.id %}">
        <p>
            <textarea name="comment_text" id="id_comment_text" required></textarea>
        </p>
        <button type="submit">Submit Comment</button>
    </form>

{% endblock %}
